body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: verdana, sans-serif;
    line-height: 2;
}

h1{
    font-size: 70px;
    font-family: 'Satisfy', cursive;
    margin-top: 0px;
    color:#66BFBF;
    line-height: 2;
}
.intro{
    width: 25%;
    margin: auto;
}
.programmer{
    font-size: 20px;
    color: #66BFBF;
  
}
h2{
    color: #11999E;
}
h3{
    color: #11999E;
    
}
hr{
    color:#808584;
    border-style: dotted none none none;
    height: 0px;
    width: 60px;
    border-width: 7px;
    margin: 50px auto 50px auto
}

.top-container{
    background-color: #c3fffd;
    position: relative;
    padding-top: 140px;


}
.top-cloud{
    position:absolute;
    right:300px;
    top: 50px;
}
.top-cloud2{    
    position:absolute;
    left:80px;
    top: 80px;
}
.top-cloud3{
    position:absolute;
    right:400px;
    top: 260px;
}
.bottom-cloud{
    position:absolute;
    left: 250px;   
}
.bottom-cloud2{
    position: absolute;
    right: 100px;
    bottom: 200px
}

.bike{
    border-radius: 180px;
}
.photo{
    height: 200px;
    width: 200px;
    padding-top: 100px;
}
.bike{
    width: 25%;
    float:left;
    padding-right: 20px;
}
.photoediting{
    width: 25%;
    float: right;
    padding-left: 20px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.falecomigo{
    width: 50%;
    margin: 100px auto 100px auto;
}
.gostou{
    margin-bottom: 50px;
}
.button{
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #11999E);
    background-image: -moz-linear-gradient(top, #11999E, #11999E);
    background-image: -ms-linear-gradient(top, #11999E, #11999E);
    background-image: -o-linear-gradient(top, #11999E, #11999E);
    background-image: linear-gradient(to bottom, #11999E, #11999E);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
    text-decoration: none;
}
.button:hover {
    background: #42c5c9;
    background-image: -webkit-linear-gradient(top, #42c5c9, #42c5c9);
    background-image: -moz-linear-gradient(top, #42c5c9, #42c5c9);
    background-image: -ms-linear-gradient(top, #42c5c9, #42c5c9);
    background-image: -o-linear-gradient(top, #42c5c9, #42c5c9);
    background-image: linear-gradient(to bottom, #42c5c9, #42c5c9);
    text-decoration: none;
  }

.proposta{
    margin: 50px 0 50px 0
}

.bottom-container{
    background-color: #11999E;
    padding: 50px 0 20px;
}
a{
    color:#13777a;
    font-family: verdana, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#7bdfe2;
}
.rights{
    font-size: 11px;
    color: #dadada
}

